<div ba-panel ba-panel-title="客户网银信息" ba-panel-class="with-scroll" class="horizontal-scroll">
    <table class="table table-bordered table-hover table-condensed">
        <tr>

            <td class="align-right">账号:</td>
            <td>2454564564564342458</td>
            <td>操作</td>
        </tr>

        <tr>
            <td class="align-right">*取款密码:</td>
            <td>
                <span editable-password="usersInfo.password" onaftersave="submitClick()" e-ui-jq="mask" e-name="password" e-form="rowform" e-required> 
                    
                           {{ usersInfo.password_invisible|| 'empty' }}
                       
                    </span>
            </td>
            <td>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary editable-table-button btn-xs" style="width:80px" ng-click="rowform.$show()">输入密码</button>
                    <button class="btn btn-danger editable-table-button btn-xs" style="width:80px" ng-click="removeUser($index)">验证取款密码</button>
                </div>
            </td>
        </tr>


        <tr>
            <td class="align-right">*新登录密码:</td>
            <td>
                <span editable-password="usersInfo.password" onaftersave="submitClick()" e-ui-jq="mask" e-name="password" e-form="rowform" e-required> 
                    
                           {{ usersInfo.password_invisible|| 'empty' }}
                       
                    </span>
            </td>
            <td>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary editable-table-button btn-xs" style="width:80px" ng-click="rowform.$show()">输入密码</button>
                    <button class="btn btn-danger editable-table-button btn-xs" style="width:80px" ng-click="removeUser($index)">验证取款密码</button>
                </div>
            </td>
        </tr>

        <tr>
            <td class="align-right">*新登录密码确认:</td>
            <td>
                <span editable-password="usersInfo.password" onaftersave="submitClick()" e-ui-jq="mask" e-name="password" e-form="rowform" e-required> 
                    
                           {{ usersInfo.password_invisible|| 'empty' }}
                       
                    </span>
            </td>
            <td>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary editable-table-button btn-xs" style="width:80px" ng-click="rowform.$show()">输入密码</button>
                    <button class="btn btn-danger editable-table-button btn-xs" style="width:80px" ng-click="removeUser($index)">验证取款密码</button>
                </div>
            </td>
        </tr>
        <!--
        <tr class="editable-row">

            <td>
                <td>
                    <span editable-password="usersInfo.password" onaftersave="submitClick()" e-ui-jq="mask" e-name="password" e-form="rowform" e-required> 
                    
                           {{ usersInfo.password_invisible|| 'empty' }}
                       
                    </span>
                </td>
            </td>

            <td>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary editable-table-button btn-xs" style="width:80px" ng-click="rowform.$show()">输入密码</button>
                    <button class="btn btn-danger editable-table-button btn-xs" style="width:80px" ng-click="removeUser($index)">验证取款密码</button>
                </div>
            </td>
        </tr>-->
    </table>

    <!--modified the content of table-->
    <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == usersInfo">
        <button type="submit" style="width:80px" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button ">
          提交
        </button>
        <button type="button" style="width:80px" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-danger editable-table-button">
          取消
        </button>
    </form>

    <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-primary " style="width:80px" ng-click="rowform.$show()">修改</button>
        <button class="btn btn-danger " style="width:80px" ng-click="removeUser($index)">返回</button>
    </div>

</div>