<div ba-panel ba-panel-title="客户网银信息" ba-panel-class="with-scroll" class="horizontal-scroll">
    <table class="table table-bordered table-hover table-condensed">
        <!--<thead>
            <tr class="black-muted-bg">
                <th class="browser-icons"></th>
                <th>Browser</th>
                <th class="align-right">Visits</th>
                <th class="table-arr"></th>
                <th class="align-right">Purchases</th>
                <th class="table-arr"></th>
                <th class="align-right">%</th>
                <th class="table-arr"></th>
            </tr>
        </thead>-->
        <tbody>
            <!--<tr ng-repeat="item in metricsTableData" class="no-top-border">
                <td><img ng-src="{{::( item.image | appImage )}}" width="20" height="20"></td>
                <td ng-class="nowrap">{{item.browser}}</td>
                <td class="align-right">{{item.visits}}</td>
                <td class="table-arr"><i ng-class="{'icon-up': item.isVisitsUp, 'icon-down': !item.isVisitsUp }"></i></td>
                <td class="align-right">{{item.purchases}}</td>
                <td class="table-arr"><i ng-class="{'icon-up': item.isPurchasesUp, 'icon-down': !item.isPurchasesUp }"></i></td>
                <td class="align-right">{{item.percent}}</td>
                <td class="table-arr"><i ng-class="{'icon-up': item.isPercentUp, 'icon-down': !item.isPercentUp }"></i></td>
            </tr>-->

            <tr>
                <td class="black-muted-bg">网银客户号:</td>
                <td class="align-right">{{userInfo.user_id}}</td>
                <td class="black-muted-bg">昵称:</td>
                <td class="align-right">{{userInfo.nickname}}</td>
            </tr>

            <tr>
                <td class="black-muted-bg">签约日期:</td>
                <td class="align-right">{{userInfo.sign_date}}</td>
                <td class="black-muted-bg">网银签约机构:</td>
                <td class="align-right">{{userInfo.institution}}</td>
            </tr>

        </tbody>
    </table>
</div>
<!--<input type="text" class="form-control" id="input04" placeholder="With help">-->

<div ba-panel ba-panel-title="客户网银信息" ba-panel-class="with-scroll" class="horizontal-scroll">
    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <td>证件类型:</td>
            <td>{{userInfo.certificate_type}}</td>
            <td>证件号码:</td>
            <td>{{userInfo.certificate_num}}</td>
        </tr>

        <tr>
            <td>客户姓名:</td>
            <td></td>
            <td>客户名称(英文或拼音):</td>
            <td></td>
        </tr>

        <tr>
            <td>手机号码:</td>
            <td>
                <span editable-text="userInfo.phone" e-form="rowform" e-required>
                    {{ userInfo.phone || 'empty' }}
                </span>
            </td>
            <td>电子邮箱:</td>
            <td>
                <span editable-text="userInfo.email" e-form="rowform" e-required>
                    {{ userInfo.email || 'empty' }}
                </span>
            </td>
        </tr>


        <tr>
            <td>联系地址:</td>
            <td colspan=3>
                <span editable-text="userInfo.address" e-name="address" e-form="rowform" e-required>
                    {{ userInfo.address || 'empty' }}
                </span>
            </td>
        </tr>


        <tr>
            <td>邮政编码:</td>
            <td>
                <span editable-text="userInfo.postcode" e-form="rowform" e-required>
                    {{ userInfo.postcode || 'empty' }}
                </span>
            </td>
            <td>联系电话:</td>
            <td>
                <span editable-text="userInfo.tel" e-form="rowform" e-required>
                    {{ userInfo.tel || 'empty' }}
                </span>
            </td>
        </tr>

        <tr>
            <td>客户经理编号:</td>
            <td></td>
            <td>客户经理姓名:</td>
            <td></td>
        </tr>

        <tr>
            <td>当前认证方式:</td>
            <td>{{userInfo.auth_mode}}</td>
            <td>机具编号:</td>
            <td>610211587466</td>
        </tr>



        <tr>
            <td>网银签约日期:</td>
            <td>{{userInfo.sign_date}}</td>
            <td>网银签约机构:</td>
            <td>{{userInfo.institution}}</td>
        </tr>

        <tr class="editable-row">
            <td>
                取款密码:
            </td>
            <td>
                <td>
                    <span editable-password="userInfo.pay_password" onaftersave="submitClick()" e-ui-jq="mask" e-name="password" e-form="rowform" e-required> 
                    
                           {{ userInfo.pay_password_invisible|| '******' }}
                       
                    </span>
                </td>
            </td>

            <td>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary editable-table-button btn-xs" style="width:80px" ng-click="rowform.$show()">输入密码</button>
                    <button class="btn btn-danger editable-table-button btn-xs" style="width:80px" ng-click="removeUser($index)">验证取款密码</button>
                </div>
            </td>
        </tr>
    </table>

    <!--modified the content of table-->
    <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == usersInfo">
        <button type="submit" style="width:80px" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button ">
          提交
        </button>
        <button type="button" style="width:80px" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-danger editable-table-button">
          取消
        </button>
    </form>

    <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-primary " style="width:80px" ng-click="rowform.$show()">修改</button>
        <button class="btn btn-danger " style="width:80px" ng-click="removeUser($index)">返回</button>
    </div>

</div>